<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PYCRM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
    
  <connectionStrings>
    <add name="connection" connectionString="Data Source=C:\CitrinePrint\InfoConfig.db" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DefaultCountryCode" value="+91"/>
    <add key="DefaultDomain" value="@gmail.com"/>
    <add key="DefaultCity" value="Bangaluru"/>
    <add key="DefaultState" value="Karnataka"/>
    <add key="DetailsTable" value="custDetails"/>
    <add key="AreaTable" value="alist"/>
    <add key="StateTable" value="slist"/>
    <add key="CityTable" value="clist"/>
    <add key="NotSentDir" value="C:\PYCRM\NotSent"/>
    <add key="logfilename" value="PYCRMLogs.txt"/>
    <add key="logFileDir" value="C:\PYCRM"/>
    <add key="ExponentialFactor" value="2"/>
    <add key="waitTime" value="9000"/>
    <add key="maxRowInOneShot" value="2000"/>
    <add key="csalmast_InvoiceLimit" value="6"/>
    <add key="merchantidStr" value="0"/>
    <add key="posIdStr" value="1"/>
    <add key="licenseFilePath" value="C:\PYCRM\"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <applicationSettings>
        <PYCRM.Properties.Settings>
            <setting name="EmailDomains" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>@gmail.com</string>
                        <string>@yahoo.in</string>
                        <string>@outlook.com</string>
                        <string>@getpy.biz</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Ethnicity" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Hindu</string>
                        <string>Islamic</string>
                        <string>Cristian</string>
                        <string>Bhuddist</string>
                        <string>Sikh</string>
                        <string>Jain</string>
                        <string>Ethist</string>
                        <string>Other</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="City" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Bengaluru</string>
                        <string>Manipal</string>
                        <string>Hubli</string>
                        <string>Mangalore</string>
                        <string>Gulbarga</string>
                        <string>Davangere</string>
                        <string>Mysore </string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="State" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Andaman and Nicobar</string>
                        <string>Andhra Pradesh</string>
                        <string>Arunachal Pradesh</string>
                        <string>Assam</string>
                        <string>Bihar</string>
                        <string>Chandigarh</string>
                        <string>Chhattisgarh</string>
                        <string>Dadra</string>
                        <string>Daman</string>
                        <string>Delhi</string>
                        <string>Goa</string>
                        <string>Gujarat</string>
                        <string>Haryana</string>
                        <string>Himachal</string>
                        <string>Jammu</string>
                        <string>Jharkhand</string>
                        <string>Karnataka</string>
                        <string>Kerala</string>
                        <string>Lakshadweep</string>
                        <string>Madhya Pradesh</string>
                        <string>Maharashtra</string>
                        <string>Manipur</string>
                        <string>Meghalaya</string>
                        <string>Mizoram</string>
                        <string>Nagaland</string>
                        <string>Odisha</string>
                        <string>Pondicherry</string>
                        <string>Punjab</string>
                        <string>Rajasthan</string>
                        <string>Sikkim</string>
                        <string>Tamil</string>
                        <string>Tripura</string>
                        <string>Uttarakhand</string>
                        <string>Uttar Pradesh</string>
                        <string>West Bengal</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AgeGroup" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>below 10</string>
                        <string>10-15</string>
                        <string>15-25</string>
                        <string>25-40</string>
                        <string>40-60</string>
                        <string>60 above</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Gender" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Male</string>
                        <string>Female</string>
                        <string>Other</string>
                    </ArrayOfString>
                </value>
            </setting>
        </PYCRM.Properties.Settings>
    </applicationSettings>
</configuration>
